*{
  margin: 0;
  padding: 0;
  background-color: rgba(170, 170, 170, 1);
}
 .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  /* shered styles */
    .display-flex {
        display: flex;
        
    }
    .all-description{
        font-size: 0.875rem;
        font-weight:400;
        color: #3A3A3A;
    }

  /* header styles */
  header{
    width: 100%;
    background-image: linear-gradient(rgba(170, 170, 170, 1));
    margin-bottom: 80px;
  }
  .navbar{
       justify-content: space-between;
       align-items: center;
       padding: 20px 80px;
      
       
  }
  .nav-title{
    font-size: 1.5rem;
    color: #3A3A3A;
  }
  .navbar ul li{
    list-style: none;
  }
  .navbar li a{
    text-decoration: none;
    padding: 10px;
    font-size: 1rem;
    color: #3A3A3A;
  } 
  .navbar a{
    list-style: none;
    text-decoration: none;
  }
  /* hamburger  */
 
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

  .hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #3A3A3A;
    margin: 4px 0;
}

 
 
    /* banner styles */
  .banner{
    justify-content: center;
    align-items: center;
    gap: 130px;
  }
  .banner-box{
    width: 580px;

  }
  .banner-title{
    font-size: 3.25rem;
    color: #3A3A3A;
    list-style: none;
  }
  .btn-primary{
    color: #ffffff;
    background-color: rgba(224, 44, 109, 1);
    padding: 10px 24px;
    border-radius: 40px;
    border: none;
    margin-top: 10px;
  }
  .btn-primary > i{
    background-color:  rgba(224, 44, 109, 1);
  }
  /* img-icon */
  .img-icon{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .img-icon img{
    max-width: 60px;
    height: 44px;
    margin: auto 35px;
  }
  /* popular-collection */
  .container-popular-collection{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .popular-collection-title{
    font-size: 1.75rem;
    color: #3A3A3A;
   
  }
  .doller{
    font-size: 1.5;
    color: #3A3A3A;
  }
  /* popular-collection */
  .popular-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    padding: 20px 180px;

    /* width: 80%; */
    margin-top: 30px;
  }
  .popular-collection-box{
    width: 200px;
    justify-content: center;
    align-items: center;
  }
  .popular-collection-simple-box{
   text-align: left;
   justify-content: center;
   align-items: center;
  }
  .container{
    position: relative;
    margin-bottom: 50px;
  }
  #see-more{
    font-size: 1rem;
    font-weight: 700;
    color: #E02C6D;
    border: none;
    position: absolute;
    bottom: -10;
    right: 167px;
  }
  /* Featured products at one place */
  .featured-products{
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
  }
  .featured-products-title{
     font-size: 2rem;
     font-weight: 600;
     color: #3A3A3A;
  }
  #join-now{
     background-color: #E02C6D;
     padding: 10px 20px;
     color: #ffffff;
     font-size: 1rem;
     border: none;
  }
  #join-now i{
    background-color: #E02C6D;
  }
  .Amet{
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  

 



  @media screen and (max-width: 768px) {
    .hamburger {
      display: flex;
  }
  #links{
    display: none;
  }
  .navbar{
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .banner{
    flex-direction: column;
    text-align: center;
  }
  .banner img {
    width: 100%;
  }
  .banner-box{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
  }
  .banner-title{
    font-size: 1.75rem;
  }
  .container-popular-collection{
  
  }
  .popular-collection{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
    padding: 20px;
    
  }
  .popular-collection-box{
    
   
   
    
  }
  .popular-collection-box img{
    /* width: 100%; */
  }
  .popular-collection-simple-box{
   text-align: left;
   width: 100%;
  }
  .img-icon{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .img-icon img{
    max-width: 20px;
    height: 14px;
    margin: 0px;
  }
  .featured-products{
    display: grid;
   grid-template-columns: repeat(1,1fr);
   padding: 20px;
   margin-bottom: 80px;
  }
  .Amet{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  
 
  
  }